PORT=3100
NEXT_PUBLIC_ENV=development

NEXT_PUBLIC_DOMAIN_NAME=localhost
NEXT_PUBLIC_ALLOWED_HOSTS="http://localhost:3100, http://localhost:5173"

# ------------
# Project Info
# ------------

NEXT_PUBLIC_PROJECT_NAME=NowSSpace

NEXT_PUBLIC_APP_TITLE="NowSSpace - Real-time sync App"
NEXT_PUBLIC_APP_DESCRIPTION="An App for real-time synchronization providing room session, activity tracking, audio calling, and chat features out of the box"

# ------------
# Service URLs
# ------------

NEXT_PUBLIC_UI_URL=http://localhost:3100
NEXT_PUBLIC_SDK_URL=http://localhost:8100/api
NEXT_PUBLIC_WS_URL=ws://localhost:8100/ws

# -----------
# Token Setup
# -----------

NEXT_PUBLIC_TOKEN_KEY=token

# ------------
# Contact Info
# ------------

NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_WHATSAPP_URL=
NEXT_PUBLIC_CONTACT_EMAIL=

# ------------------
# Push Notifications
# ------------------

NEXT_PUBLIC_VAPID_PUBLIC_KEY=
